menu "Applications CanMV Configuration"

    config RT_RECOVERY_MPY_AUTO_EXEC_PY
        bool "Enable recovery micropython auto execute boot.py or main.py make system crash"
        default y

endmenu
